/* src/app/globals.css */
@import "tailwindcss";

/* Tokens de marca (cámbialos aquí cuando quieras) */
:root {
  --bg: 0 0% 0%;
  --text: 0 0% 100%;
  --muted: 0 0% 70%;
  --accent: 0 80% 45%;
  --accent2: 330 80% 60%;
}

html,
body {
  height: 100%;
}

body {
  background: hsl(var(--bg));
  color: hsl(var(--text));
}

* {
  -webkit-tap-highlight-color: transparent;
}

::selection {
  background: rgba(255, 255, 255, 0.18);
}

.kick {
  background-color: rgb(83, 252, 24);
}
